# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages of data sciences
* List commonly used liberaries
* Give examples of Python calculation

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scale
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. pytorch
4. seaborn

<table align="left">
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>Anaconda</td>
  </tr>
  <tr>
    <td>Github</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
def min_to_hour(minutes):
    hour = minutes / 60
    return hour

min_to_hour(200)

3.3333333333333335

## Author

Bond